.ballad_banner {
  background:url(/assets/images/promo/ballad_banner.jpg) no-repeat center center fixed;
  background-size: cover;
}
.bozhou_banner {
  background:url(/assets/images/promo/bozhou_banner.jpg) no-repeat center center fixed;
  background-size: cover;
}
@media (max-width:830px) {
  .bozhou_banner {
    background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png) no-repeat bottom left fixed;
  }
}

.title1_agile {
  display:block;
  width:70%;
  padding-top:4em;
  padding-bottom:4em;
  margin-left:auto;
  margin-right:auto
}

.title1_agile h3 {
  font-size:2.5em;
  font-weight:700;
  letter-spacing:1px;
  color:#fff;
  text-shadow:1px 1px 2px #000,0 0 25px #000,0 0 5px #fff;
  font-family:'Song Myung',serif;
}

.float img {
  box-shadow: 1px 1px 2px #000,0 0 25px #000,0 0 5px #fff;
  max-height: 40vh;
}

.container {
  display: inline-block;
}

@media (max-width:950px) {
  .title1_agile h3 {
    font-size:2em;
  }
}

@media (max-width:650px) {
  .title1_agile h3 {
    font-size:1.5em;
  }
}
