.ballad_banner {
  background:url(/assets/images/promo/ballad_banner.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.bozhou_banner {
  background:url(/assets/images/promo/bozhou_banner.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.title1_agile {
  display:block;
  width:70%;
  padding-top:4em;
  padding-bottom:4em;
  margin-left:auto;
  margin-right:auto
}

.title1_agile h3 {
  font-size:2.5em;
  font-weight:700;
  letter-spacing:1px;
  color:#fff;
  text-shadow:1px 1px 2px #000,0 0 25px #000,0 0 5px #fff;
  font-family:'Song Myung',serif;
}

@media (min-width:950px) {
  .title1_agile h3 {
    font-size:2em;
  }
}

@media (min-width:650px) {
  .title1_agile h3 {
    font-size:1.5em;
  }
}
