body {
  padding: 0;
  margin: 0;
  background: #fff;
  position: relative;
  font-family: 'Open Sans',sans-serif;
}

html {
  scroll-behavior: smooth;
}

body a {
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  cursor: pointer!important;
}

a:hover {
  text-decoration: none;
}

input[type=button],input[type=submit] {
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

img {
  width: 100%;
}

h3.heading {
  font-size: 2.2em;
  color: #52575c;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: .04em;
}

h4.heading {
  font-size: 1.7em;
  color: #52575c;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: .04em;
}

section.main {
  background: #fff;
}

section.main h5 {
  display: block;
  font-weight: 700;
  letter-spacing: .065em;
  font-size: .9em;
  color: #696969;
  margin: 0 0 .25em 0;
}

section.main h3 {
  font-weight: 800;
  letter-spacing: .04em;
  color: #404248;
  font-size: 1.35em;
}

section.main h3 a {
  color: #404248;
}

section.main a img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

section.main p {
  font-size: 16px;
  line-height: 1.8em;
  color: #777;
}

.last_article {
  border-bottom: solid 1px #dbdbdb;
  margin: 0 0 2.75em 0;
  padding: 0 0 2.75em 0;
}

.first_article {
  margin: 0 0 .75em 0;
  padding: 0 0 .75em 0;
}

.main-1 {
  padding-left: 0;
}

@media screen and (max-width:991px) {
  .copyright {
    text-align: center;
  }

  h2.heading,  h3.heading {
    font-size: 30px!important;
  }

  h4.heading {
    font-size: 1.5em!important;
    line-height: 1.4em;
  }

  section.main h3 {
    font-size: 1.2em!important;
  }
}

@media screen and (max-width:736px) {
  .main-2 {
    padding: 1em 0;
  }
}

@media screen and (max-width:667px) {
  h2.heading,  h3.heading {
    font-size: 28px!important;
  }
}

@media screen and (max-width:480px) {
  h2.heading,  h3.heading {
    font-size: 23px!important;
  }

  h4.heading {
    font-size: 1.3em!important;
  }

  section.main h3 {
    font-size: 1em!important;
  }
}

@media screen and (max-width:414px) {
  h2.heading,  h3.heading {
    font-size: 20px!important;
  }
}

@media screen and (max-width:320px) {
  h2.heading,  h3.heading {
    font-size: 17px!important;
  }

  section.main p {
    font-size: 15px!important;
  }

  .last_article {
    margin: 0 0 1.75em 0;
    padding: 0 0 1.75em 0;
  }

  .logo h1 a {
    font-size: 18px!important;
  }

  .two-blog2 p {
    font-size: 15px!important;
  }

  .two-blog2 h3 {
    font-size: 1em!important;
  }
}
