body,html {
  margin: 0;
  font-size: 100%;
  font-family: Poppins,sans-serif;
  background: #fff;
}

body a {
  text-decoration: none;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}

a:hover {
  text-decoration: none;
}

input[type=button],input[type=submit] {
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: Raleway,sans-serif;
  font-weight: 600;
}

p {
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.5em;
  font-size: 22px;
  width: 100%;
  max-width: 740px;
  font-family: 'Times New Roman',Times,serif,Georgia;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: #000;
  padding-bottom: 1.3em;
}

figure img {
  width: 100%;
}

label {
  margin: 0;
}

.header h1 {
  margin: 0;
  margin-top: .5em;
}

.header {
  padding: 2em 2.5em;
}

.banner {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 770px;
  position: relative;
}

.banner-image-w3layouts img {
  position: absolute;
  bottom: -15px;
  right: 6%;
  width: 485px;
}

.banner_bottom {
  padding: 6em 0;
}

.header img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid rgba(64,66,65,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  margin-right: 1.7em;
  float: left;
}

.header h1 {
  position: relative;
}

.banner_bottom_info {
  margin: 0 auto;
  text-align: left;
  width: 60%;
}

.banner_bottom_info h4 {
  color: #2f2f2f;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.banner_bottom_info h6 {
  color: #2f2f2f;
  font-size: 1.6em;
  line-height: 1.9;
  letter-spacing: 3px;
  margin: 1.5em 0;
}

.work {
  background: #000;
}

.work-left {
  text-align: right;
  padding: 4em 5em 0 0;
}

.work-right {
  border-left: 4px solid #ebebec;
  padding: 4em 0 2em 6em;
}

.work-info h4 {
  font-size: 1.2em;
  display: inline-block;
  padding: .4em 1.2em;
  color: #fff;
  position: relative;
  background: #1b1b1b;
  font-family: Poppins,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: 0 8px 18px 0 rgba(0,0,0,.2),0 4px 7px 0 rgba(0,0,0,.19);
}

.work-info h4:before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  top: 9px;
  right: -10px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #1b1b1b;
}

.work-info h5 {
  font-size: 1.3em;
  color: #00a98f;
  margin-bottom: .5em;
  display: inline-block;
  padding: 0 1.2em;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 rgba(74,76,76,.09);
  font-weight: 700;
}

.work-right.work-right2 {
  min-height: 160px;
  float: right;
}

.work-right.work-right2 h4:before {
  left: -10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.work-right.work-right2 h4 {
  margin-top: .2em;
}

.work-info p {
  font-size: 15px;
  color: #666;
  line-height: 12px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.85);
}

:-moz-placeholder {
  color: rgba(0,0,0,.85);
}

::-moz-placeholder {
  color: rgba(0,0,0,.85);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,.85);
}

@media (max-width:1440px) {
  .banner_bottom {
    padding: 5em 0;
  }
}

@media (max-width:1280px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .banner_bottom_info {
    margin: 0 auto;
    text-align: left;
    width: 80%;
  }

  .banner_bottom_info h6 {
    font-size: 1.4em;
  }
}

@media (max-width:1050px) {
  .banner_nav_w3layouts {
    margin: 0 auto;
    width: 94%;
  }
}

@media (max-width:1024px) {
  .banner-image-w3layouts img {
    position: absolute;
    bottom: -13px;
    right: 6%;
    width: 343px;
  }

  .banner {
    min-height: 620px;
  }
}

@media (max-width:991px) {
  .banner-image-w3layouts img {
    position: absolute;
    bottom: -11px;
    right: 6%;
    width: 343px;
  }

  .banner_bottom_left:nth-child(2) {
    margin: 1.5em 0;
  }

  .work-right {
    float: none;
    width: 100%;
    border-left: none;
    padding: 1em 0 0 0;
  }

  .work-right.work-right2 {
    min-height: 0;
  }

  .work-left {
    float: none;
    width: 100%;
    text-align: left;
    padding: 1.35em 0 0 0;
  }

  .work-info {
    padding: 0 1em;
  }

  .work-info h5 {
    font-size: 1.3em;
    margin: .5em 0 .5em 0;
  }

  .container {
    width: 100%;
  }
}

@media (max-width:900px) {
  .banner_bottom {
    padding: 4em 0;
  }
}

@media (max-width:800px) {
  .banner-image-w3layouts img {
    position: absolute;
    bottom: -9px;
    right: 6%;
    width: 285px;
  }

  .banner {
    min-height: 538px;
  }
}

@media (max-width:768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .banner_bottom_info {
    margin: 0 auto;
    text-align: left;
    width: 95%;
  }

  .container {
    width: 90%;
  }
}

@media (max-width:736px) {
  .banner {
    min-height: 478px;
  }

  .banner-image-w3layouts img {
    position: absolute;
    bottom: -7px;
    right: 6%;
    width: 221px;
  }
}

@media (max-width:667px) {
  .banner_bottom_info h6 {
    font-size: 1.3em;
    letter-spacing: 2px;
  }
}

@media (max-width:600px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width:568px) {
  .banner_bottom {
    padding: 3em 0;
  }
}

@media (max-width:480px) {
  .banner-image-w3layouts img {
    position: absolute;
    bottom: -4px;
    right: 6%;
    width: 137px;
  }

  .banner {
    min-height: 447px;
  }

  p {
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.8em;
    font-size: .9em;
  }

  .work-info h5 {
    font-size: 1em;
    margin: .5em 0 .5em 0;
  }

  .banner {
    background: url(../images/bg_480.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (max-width:440px) {
  .banner {
    min-height: 420px;
  }

  .banner_bottom_info h6 {
    font-size: 1.1em;
    letter-spacing: 1px;
  }

  .banner_bottom_info h4 {
    font-size: 1em;
    letter-spacing: 1px;
  }
}

@media (max-width:414px) {
  .banner_bottom {
    padding: 2.5em 0;
  }

  .work-info h4 {
    font-size: 1em;
  }

  .work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: 5px;
    right: -10px;
  }

  .work-info {
    padding: 0 0;
  }
}

@media (max-width:384px) {
  .header h1 {
    font-size: 23px;
  }

  .header {
    padding: 5px;
  }

  .footer p {
    font-size: 13px;
  }
}

@media (max-width:320px) {
  .header h1 {
    font-size: 20px;
  }

  .header {
    padding: 5px;
  }

  .banner {
    min-height: 347px;
  }

  .banner-image-w3layouts img {
    position: absolute;
    bottom: -2px;
    right: 6%;
    width: 77px;
  }

  .banner_bottom_left {
    padding: 0;
  }

  .banner_bottom_info h4 {
    font-size: .8em;
    letter-spacing: 1px;
  }

  .banner_bottom_info h6 {
    font-size: 1em;
    letter-spacing: 1px;
    margin: 1em 0;
  }
}

.fillimg {
  display: block;
  max-width: 85vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
