.notes-visible,
.notes-hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.notes-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.notes-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}
.feedback-hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 0.5s;
}
