<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title | strip_html }} {% if page.layout contains "post" %}- Mulanbook: The history and legend of Hua Mulan {% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/{{ page.layout }}.css" type="text/css" media="none" onload="if(media!='all')media='all'" />
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'NHHY6';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
    o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.log = function(a,b) { g("log", [a,b]) };
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>
</head>
<body>
<header>
	<nav class="mnu">
		<div class="logo" id="logo">
			<h1> <a href="/"><img src="{{ ASSET_PATH }}/images/logo_mulanbook.png" alt="MulanBook Logo" /></a></h1>
 		</div>

	        <label for="drop" class="toggle"><b>&#9776</b></label>
	        <input type="checkbox" id="drop">
	        <ul class="menu mt-1">
	                <li class="mr-lg-4 mr-3"><a href="/">Home</a></li>
	                <!--<li class="mr-lg-4 mr-3"><a href="about.html" class="scroll">About</a></li>-->
	        </ul>
        </nav>
</header>

{{ content }}

<div class="footer">
	<div class="container">
		<p>&copy; 2020 mulanbook.com. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
<script>
var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
});
</script>
</body>
</html>
