<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title | strip_html }} {% if page.layout contains "post" %}- Mulanbook: The history and legend of Hua Mulan {% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<link rel="stylesheet" href="{{ ASSET_PATH }}/css/{{ page.layout }}.css" type="text/css" media="none" onload="if(media!='all')media='all'" />
<script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1887133921");
</script>
</head>
<body>
<header>
	<nav class="mnu">
		<div class="logo" id="logo">
			<h1> <a href="/"><img src="{{ ASSET_PATH }}/images/logo_mulanbook.png" alt="MulanBook Logo" /></a></h1>
 		</div>

	        <label for="drop" class="toggle"><b>&#9776</b></label>
	        <input type="checkbox" id="drop">
	        <ul class="menu mt-1">
	                <li class="mr-lg-4 mr-3"><a href="/">Home</a></li>
	                <!--<li class="mr-lg-4 mr-3"><a href="about.html" class="scroll">About</a></li>-->
	        </ul>
        </nav>
</header>

{{ content }}

<div class="footer">
	<div class="container">
		<p>&copy; 2020 mulanbook.com. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
<script>
var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
});
</script>
</body>
</html>
