{% assign dynastyArr = "overview#northern_wei#tang#yuan#ming#qing#post_imperial" | split: '#' %}
{% assign dynastyNames = "Overview#Northern Wei (386&ndash;534 AD)#Tang Dynasty (618&ndash;907 AD)#Yuan Dynasty (1271&ndash;1368 AD)#Ming Dynasty (1368&ndash;1644 AD)#Qing Dynasty (1644&ndash;1912)#Post-Imperial China (1912&ndash;Present)" | split: '#' %}
{% assign dynastyAlts = "Overview#A relic from the Northern Wei dynasty. Image source: http://bit.ly/2GuB2Vv#A pagoda built during the Tang Dynasty. Image source: http://bit.ly/2GpfHwP#A tower built durnig the Yuan Dynasty. Image source: http://bit.ly/2LIJlkX#An arch constructed during the Ming Dynasty. Image source: http://bit.ly/2GveIuU#A gate to the Forbidden City, which was used during the Qing Dynasty. Image source: http://bit.ly/2ybwq23#National government office of the ROC. Image source: http://bit.ly/2yNrPTX" | split: '#' %}

{% for name in dynastyArr %}
	{% assign folderName = '/' | append: name | append: '/' %}
	{% if page.url contains folderName %}
		{% assign dynasty = name %}
		{% assign dynastyName = dynastyNames[forloop.index0] %}
		{% assign dynastyAlt = dynastyAlts[forloop.index0] %}
	{% endif %}
{% endfor %}

<!-- /banner_bottom -->
<div class="main banner_bottom" id="article">
	<div class="clearfix"> </div>
	<div class="container">
		<div class="inner_sec_top_aglieits">
			<div class="banner_bottom_info">
				{% if dynasty != "overview" %}
					<h4 class="heading text-left mb-5"><a href="/#{{ dynasty }}"><img src="/assets/images/thumbs/dynasties/{{ dynasty }}.jpg" alt="{{ dynastyAlt }}" />{{ dynastyName }}</a></h4>
				{% endif %}
				<h1>{{ page.title }}</h1>
				{% if page.title != "Questions about Mulan’s Legend and History, Answered" %}
					<p>{{ page.description }}</p>
				{% endif %}
				<!-- begin text -->
				{% if page.image contains "#" %}
					{% assign imageArr = page.image | split: '#' %}
					{% assign defaultImage = imageArr[0]  %}
				{% else %}
					{% assign defaultImage = page.image  %}
				{% endif %}

				<figure {% if page.imageType contains "float" %} class="float left" style="max-width: 450px;" {% else %} class="big" {% endif %}>
				{% if page.image contains "#" %}
				<picture>
					<source media="(min-width: 830px)" srcset="/assets/images/articles/{{ imageArr[1] }}">
				{% endif %}
					<img {% if page.imageType contains "big" %} class="fillimg" {% endif %} src="/assets/images/articles/{{ defaultImage }}" alt="{{ page.alt | strip_html }}" />
				{% if page.image contains "#" %}
				</picture>
				{% endif %}

				<figcaption style="text-align: center;"><i>{{ page.alt}} </i></figcaption>
				</figure><br />

				{{ content }}

				{% assign current = false %}
				{% assign next = false %}
				{% for dynasty in dynastyArr %}
					{% assign folderName = '/' | append: dynasty | append: '/' %}
					{% assign folder = site.pages | where_exp: "item" , "item.path contains folderName" | sort: "num" %}

					{% for article in folder %}
					{% if article.layout == "post" %}
						{% if next == false %}
							{% assign nextTitle = article.title %}
							{% assign nextUrl = article.url %}
						{% endif %}
						{% if current == true %}
							{% assign next = true %}
						{% endif %}
						{% if page.url == article.url %}
							{% assign current = true %}
						{% endif %}
						{% if current == false %}
							{% assign prevTitle = article.title %}
							{% assign prevUrl = article.url %}
						{% endif %}
					{% endif %}
					{% endfor %}
				{% endfor %}

				<br />
				<div width="100%">
				{% if prevUrl %}
				<p style="text-align:left;">Previous: <a href="{{ prevUrl }}">{{ prevTitle }}</a></p>
				{% endif %}
				{% if nextUrl != page.url %}
				<p style="text-align:right;">Next: <a href="{{ nextUrl }}">{{ nextTitle }}</a></p>
				{% else %}
				<p style="text-align:right;">Next: <a href="/pages/overview/questions_about_mulans_legend_and_history">Questions about Mulan’s Legend and History, Answered</a></p>
				{% endif %}
				</div>

				<p style="text-align:center;"><a class="readnovel book" href="/pages/qing/fierce_and_filial_english_translation">Mulan: The Qing dynasty novel<br /><small>Read the English translation of <i>Fierce and Filial</i></small></a></p>
			</div>
		</div>
	</div>
</div>

{% if page.imageType contains "float" %} <script type="text/javascript" src="/assets/js/float.js"></script> {% endif %}
