<!-- /banner_bottom -->
<div class="banner_bottom" id="article">
	<div class="clearfix"> </div>
	<div class="container">
		<div class="inner_sec_top_aglieits">
			<div class="banner_bottom_info">
				<div class="header"><img src="../../images/thumbs/dynasties/northern_wei.jpg" alt="A relic from the Northern Wei dynasty. Image source: http://bit.ly/2GuB2Vv" class="img-responsive"><h1>The Ballad of Mulan</h1></div>
				<br />
				<!-- begin text -->
				<figure>
				<img class="fillimg" src="/assets/images/articles/{{ page.imgage }}" alt="{{ page.alt }}" />
				<figcaption style="text-align: center;"><i>{{ page.alt}} </i></figcaption>
				</figure><br />

				{{ content }}

			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="/assets/themes/twitter/css/post.css" type="text/css" media="all" />
